<template>
  <div id="app">
    <p>Trivia app </p>
    <AppTrivia />
  </div>
</template>

<script>
import AppTrivia from './components/Trivia.vue'

export default {
  name: 'app',
  components: {
    AppTrivia
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
