
<!---------------------------------------------------------------------------------------------------------------------- 
 Main component. Receives user input regarding number of questions and category from the "StartPage" component, then 
 fetches data from the api and cycles through each question prompting the user for an answer for each item. When all
 questions are answered a "Results" page will be rendered using conditional rendering.
------------------------------------------------------------------------------------------------------------------------>


<template>
    <div id="question-list">

        <!-- Print the current question only if there are more unanswered questions -->
        <div v-if="(currentQuestionId < this.questions.length)" id="question-item" class="mt-5 pt-5">
            
            <div class="jumbotron text-center questionCard mt-5">

                <h1 class="display-4">Question number <span v-html="this.questions[this.currentQuestionId].id"></span> of {{ this.questions.length }}</h1>
                <p class="lead"> {{ this.questions[this.currentQuestionId].question }} </p>
                <hr class="my-4">
                
                <!-- Make a button for each answer alternatives -->
                <span v-for="(answer, index) in this.questions[this.currentQuestionId].allAnswers" v-bind:key="index">
                    <button style="display: inline-block" type="button" class="btn btn-info m-1" v-on:click="btnGetAnswerHandler"><span v-html="answer"></span></button>
                </span><br>
            </div>

            <!-- Show a animation depending on the users answer is correct or false  -->
            <transition name="fade">
                <img src="@/assets/thumbsup.png"  v-show="this.correctAnswerGiven" v-if="this.correctAnswerGiven" transition="feedback" />
                <img src="@/assets/fail.png"  v-show="this.wrongAnswerGiven" v-if="this.wrongAnswerGiven" transition="feedback" />
            </transition>
        </div>

        <!-- Show the results component if there are no more questions to answer -->
        <QuestionResults v-else-if="(this.questions.length)" v-bind:questions=questions />

        <!-- Show a loding spinner animation until the fetching of data is complete -->
        <div v-if="(this.questions.length === 0)" class="d-flex justify-content-center">
            <div class="spinner-border text-light myspinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import QuestionResults from "../components/QuestionResults"

export default {
    name: "QuestionList",
    components: {
        QuestionResults
    },
    created() {
        this.getData();
    },
    data() {
        return {
            questions: [],
            currentQuestionId: 0,
            correctAnswerGiven: false,
            wrongAnswerGiven: false
        }
    },
    methods: {

        // Convert raw html to normal text
        HtmlEncode(string)
        {   
            let retVal = string;
            retVal = retVal.replace(/&quot;/g,'"');
            retVal = retVal.replace(/&amp;/g,'&');
            retVal = retVal.replace(/&#039;/g,"'");
            retVal = retVal.replace(/&lt;/g,'<');
            retVal = retVal.replace(/&eacute;/g,'é');
            retVal = retVal.replace(/&gt;/g,'>');
            retVal = retVal.replace(/&deg;/g,'°');
            return retVal;
        },
        
        // Runs when an answer button is pushed, checks if answer is correct then waits 500ms to display the animation before
        // incrementing the question index (currentQuestionId)
        async btnGetAnswerHandler(e){
            this.questions[this.currentQuestionId].usersAnswer = e.target.innerText;
            if (this.questions[this.currentQuestionId].usersAnswer === this.questions[this.currentQuestionId].correct_answer) 
                this.correctAnswerGiven = true;
            else this.wrongAnswerGiven = true;

            await setTimeout(() => {
                this.currentQuestionId++;
                this.correctAnswerGiven = false;
                this.wrongAnswerGiven = false;
            }, 500); 
        },

        // Starts a a new game (not used, kept for possible future use)
        startNewGame() {
            this.currentQuestionId = 0;
            this.questions = []
            this.getData();
        },

        // Fetch data, then collect all answer alternatives in one place (allAnswers) and sort the answers alphabetically
        // Also cleaning up raw HTML in the question title and alternatives
        getData() {
            let apiUrl = `https://opentdb.com/api.php?amount=${this.$route.query.nQuestions}&category=${this.$route.query.category}`
            axios.get(apiUrl)
            .then(resp => resp.data)
            .then(resp => {
                window.console.log("Original resp: " , resp.results);
                let modifiedResp  = resp.results;

                modifiedResp.forEach((question, index) => {
                    question.allAnswers = [question.correct_answer, ...question.incorrect_answers]
                    question.allAnswers.sort();
                    question.usersAnswer = null;
                    question.id = index+1;
                    question.question = this.HtmlEncode(question.question)
                    let newAnswers= []
                    question.allAnswers.forEach(q => 
                        newAnswers.push(this.HtmlEncode(q))
                    )
                    question.allAnswers = newAnswers;
                })
                this.questions = modifiedResp || [];
            })

        }
    }
}


</script>

<style scoped>
.questionCard {
    border-radius: 2rem;
    margin: 0 auto;
    width: 80%;
}
.feedback-transition {
  transition: all 3s ease;
  height: 300px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
  width:100%;
}
.feedback-enter, .feedback-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
  width: 0%;
  position:absolute;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  

}
.fade-enter-active {
  transition: all 0.5s ease-out;
}

.fade-enter-to {
  opacity: 1;
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  left:0px;
  transform : translateY(-30em)
}

.fade-enter {
  opacity: 20;
  width: 0;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  position:fixed;
}

.myspinner {
    margin-top:20%;
    width: 20rem;
    height: 20rem;
}



</style>