<!----------------------------------------------------------------------------------------------------------------------
    Routed to "/".
    Takes input from user regarding amount of questions and question category.
    This information is then forwarded to the "Quiz" component using query values, thus starting the game.
------------------------------------------------------------------------------------------------------------------------>

<template>
    <div id="start-page">
        <div class="row pt-5 mt-5">
            <div class="col-sm-6 mt-5 mx-auto">
                <form>
                    <div class="form-group">

                        <!-- Getting user input regarding amount of questions -->
                        <h4>Select how many questions you want:</h4>
                        <select v-model="nQuestions" class="form-control" >
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>

                        <!-- Getting user input regarding question category -->
                        <h4 class="mt-5">Select category:</h4>
                        <select v-model="category" class="form-control" value="9">
                            <option value="9">General Knowledge</option>
                            <option value="10">Entertainment: Books</option>
                            <option value="11">Entertainment: Film</option>
                            <option value="12">Entertainment: Music</option>
                            <option value="13">Entertainment: Musicals &amp; Theatres</option>
                            <option value="14">Entertainment: Television</option>
                            <option value="15">Entertainment: Video Games</option>
                            <option value="16">Entertainment: Board Games</option>
                            <option value="17">Science &amp; Nature</option>
                            <option value="18">Science: Computers</option>
                            <option value="19">Science: Mathematics</option>
                            <option value="20">Mythology</option>
                            <option value="21">Sports</option>
                            <option value="22">Geography</option>
                            <option value="23">History</option>
                            <option value="24">Politics</option>
                            <option value="25">Art</option>
                            <option value="26">Celebrities</option>
                            <option value="27">Animals</option>
                            <option value="28">Vehicles</option>
                            <option value="29">Entertainment: Comics</option>
                            <option value="30">Science: Gadgets</option>
                            <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
                            <option value="32">Entertainment: Cartoon &amp; Animations</option>
                        </select>
                    </div>
                </form>

                <!-- Sending user input data to Quiz route and starting game -->
                <router-link :to="{ name: 'Quiz', query: { nQuestions: nQuestions, category: category } }">
                    <button class="knapp my-5 btn-lg" >Start new game </button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "StartPage",

    data() {
        return {
            nQuestions: 10,
            category: 9
        }
    }
}
</script>

<style scoped>
* {
    align-content: center;
    text-align: center;
}
form {
    color: white;
}

.knapp:hover {
  /* margin: 5px; */
  /* width: 17rem; */
  border-radius: 2rem;
  /* height: 5.5rem; */
  cursor: pointer;
  background-color: rgb(4, 180, 57);
  border-color:rgb(4, 180, 57);
}

.knapp {
  transition: all .3s ease-in-out;
  border-radius: 1.7rem;
  width: 15rem;
  height: 5rem;
  background-color: rgb(58, 130, 211);
  border-color: rgb(58, 130, 211);

}

</style>