<!---------------------------------------------------------------------------------------------------------------------- 
  This component receives a question item and returns a card showing the question, all the alternatives, correct answer
  and the users answer. 
------------------------------------------------------------------------------------------------------------------------>


<template>
    <div id="question-item">

        <!-- Creating a card for given question item showing the question and correct answer -->
        <div class="jumbotron questionCard">
            <h1 class="display-4">Question number {{ this.questionItem.id }} was: </h1>
            <p class="lead"> {{ this.questionItem.question }} </p>
            <hr class="my-4">

            <!-- Printing alternatives, showing the correct andswer and the users answer -->
            <div v-for="(answer, index) in this.questionItem.allAnswers" v-bind:key="index">
                <p v-if="((answer === questionItem.usersAnswer) && (questionItem.correct_answer === questionItem.usersAnswer))" style="color: green">
                    <span v-html="answer"></span> (Your answer)
                </p>
                <p v-else-if="((answer === questionItem.usersAnswer) && (questionItem.correct_answer !== questionItem.usersAnswer))" style="color: red">
                    <span v-html="answer"></span> (Your answer)
                </p>
                <p v-else-if="((answer === questionItem.correct_answer) && (questionItem.correct_answer !== questionItem.usersAnswer))" style="color: black">
                    <span v-html="answer"></span> (Correct answer)
                </p>
                <p v-else style="color: black">
                    <span v-html="answer"></span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "QuestionListItem",
    props: {
        questionItem: {
            required: true,
            type: Object
        }
    }
}
</script>

<style scoped>
.questionCard {
    border-radius: 2rem;
    width: 70%;
    margin: 0 auto;
}
</style>