<!---------------------------------------------------------------------------------------------------------------------- 
 Component for showing the "Game over" screen with total score and summary of given and correct answers for each question 
------------------------------------------------------------------------------------------------------------------------>

<template>

    <div id="results-page">
        <div id="question-summary" class="text-center mt-5">

            <!-- Print users total score and show a button for starting a new game -->
            <h1 v-if="(score === 1)" style="color: white">You got {{ score }} point out of {{ (questions.length * 10) }} possible</h1>
            <h1 v-else style="color: white">You got {{ this.score }} points out of {{ this.maxScore }} possible</h1>

            <!-- Button routing user back to StartPage, starting a new game -->
            <router-link to="/">
                <button class="knapp my-5 btn-lg btn-success" >Start new game </button>
            </router-link>

            <!-- Looping through all answered questions, displaying the quesion, all answers, 
                 the users answer and correct answer in QuestonListItem component -->
            <QuestionListItem v-for="(question, index) in this.questions" v-bind:question-item="question" v-bind:key="index" class="mt-5" />

        </div>
        
    </div>
</template>

<script>
import QuestionListItem from '../components/QuestionListItem'
export default {
    name: "ResultsPage",
    components: {
        QuestionListItem
    },
    props: {
        questions: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            score: 0,
            maxScore: 0
        }
    },
    created() {
        // Calculating the users total score
        this.questions.forEach(q => {if (q.usersAnswer === q.correct_answer) this.score += 10;})

        // Calculating the maximum possible score for the current game
        this.maxScore = this.questions.length * 10;
    },
}
</script>

<style scoped>

.knapp:hover {
  /* margin: 5px; */
  /* width: 17rem; */
  border-radius: 2rem;
  /* height: 5.5rem; */
  cursor: pointer;
  background-color: rgb(4, 180, 57);
  border-color:rgb(4, 180, 57);
}

.knapp {
  transition: all .3s ease-in-out;
  border-radius: 1.7rem;
  width: 15rem;
  height: 5rem;
  background-color: rgb(58, 130, 211);
  border-color: rgb(58, 130, 211);

}

</style>