<template>
  <div id="app" class="container">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  }
}
</script>

<style> 
body {
  background-image: url("./assets/background.jpg");
  background-position: center; /* Center the image */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 50%; */
}
img {
  background: transparent;
}
</style>
