

<template>
  <div class="hello">
    <div> 
      <ul id="example-1">
        <li v-bind:key="item" v-for="(item, index) in this.info.data.results"  >
         <p>Question {{ index }}: {{ item.question }} </p>
         <p>Alternatives: </p>
         <p>{{item.correct_answer}}</p>
          <p v-bind:key="_item" v-for="(_item) in item.incorrect_answers"> {{ _item }}</p>  
        </li>
</ul>
</div>
      <!-- <button v-on:click="() => {console.log(this.info)}"> ConsoleLog </button>  -->
      
    <div>
      <!-- {{ info }} -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'
//import VueAxios from 'vue-axios'

export default {
  name: 'AppTrivia',
  props: {
    msg: String
  },
  mounted() {
    
    let apiUrl = "https://opentdb.com/api.php?amount=10"
    axios
      .get(apiUrl)
      .then(response => {
        this.info = response;
        window.console.log(this.info.data.results);
      })
  },
  data() {
    return {
      info: null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>

